/* General */

* {
	margin: 0;
	border: 0;
	padding: 0;
	font-size: small;
	font-family: CarlitoRegular;
}

body {
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Page header */

header {
	background-color: #9E9E9E;
	height: 200px;
}

h1 {
	font-family: Clayborn;
	font-size: xx-large;
	display: inline-block;
	position: relative;
	left: calc(50% - 3em);
	width: 6em;
	text-align: center;
	top: 1.3em;
}

/* Navigation */

nav {
	background-color: #e3e3e3;
	display: flex;
	flex-grow: 10;
	flex-shrink: 10;
	flex-wrap: wrap;
	flex-direction: row;
}

nav > h4 {
	min-width: 4em;
	border: none;
	border-color: #a9a9a9;
	border-right-style: groove;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

nav > h4 > a {
	display: block;
	padding: 10px 20px 10px 20px;
}

nav > h4:hover {
	background-color: #d0d0d0;
}

/* Main section */

section {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 250px;
	flex-wrap: wrap;
	width: calc(100% - 100px);
}

section > h2 {
	font-variant: small-caps;
	font-size: xx-large;
	text-align: center;
	padding-top: 10px;
}

/* Controls */


div.button {
	text-align: center;
	margin: 10px 0 20px 0;
}

div.top {
	text-align: right;
	padding-right: 2em;
}

div.button > * {
	vertical-align: middle;
	display: inline-block;
}

.button p {
	border-radius: 4px;
	border-color: #989898;
	border-style: outset;
	border-width: 1px;
	padding: 15px;
	background: #e9e9e9;
	font-size: large;
	font-variant: all-small-caps;
}


.button select {
	background-color: #f2f2f2;
	border: 1px solid black;
	border-radius: 4px;
	padding: 2px;
}

div.sorting {
	margin-right: 0.5em;
}

.sorting svg {
	height: 11px;
	width: 18px;
	display: block;
	padding-left: 1px;
	padding-right: 1px;
}

.sorting svg.arrow-down {
	padding-top: 3px;
}

.sorting svg > polygon {
	stroke: black;
	stroke-width: 1.4;
	fill: transparent;
}

.sorting svg > polygon:hover, .sorting svg.active > polygon {
	fill: #000000;
}

.view-switch {
	height: 25px;
	width: 25px;
}

.view-switch > * {
	fill: black;
}

.view-switch > line {
	stroke: black;
	stroke-width: 2;
}

.view-switch > rect {
	fill: transparent;
	stroke: black;
	stroke-width: 2;
}

/* article */

article {
	background-color: #e8e8e8;
	margin: 15px;
	border: 1px outset #a0a0a0;
	border-radius: 7px;
	padding: 1px;
}

.view-grid article {
	display: inline-block;
	width: 250px;
}

.view-list article {
	display: block;
}

article > * {
	margin: 10px 0 10px 0;
}

.view-grid article > * {
	display: block;
	text-align: center;

}

.view-list article > * {
	display: inline-block;
	margin-right: 1em;
	vertical-align: middle;
}


article img {
	padding: 10px;
	margin: 0;
}

.view-grid article img {
	position: relative;
	width: 150px;
	height: 150px;
	left: 50px;
}

.view-list article img {
	width: 50px;
	height: 50px;
	padding: 10px;
}

article .title {
	font-family: ArchitectsDaughter;
	letter-spacing: 0.1em;
}

article p {
	font-family: CodeNewRoman;
}

article:hover {
	cursor: pointer;
	background-color: #dfdfdf;
}

/* Side panel */

aside {
	position: absolute;
	display: inline-block;
	width: 100px;
}

/* Footer */

footer {
	padding: 50px 10px 40px 10px;
	color: #909090;
}

footer > p {
	font-family: monospace;
	letter-spacing: -0.8px;
	font-size: small;
	font-weight: 400;
}

/* Other stuff */

.nodisplay {
	display: none;
}

.link {
	cursor: pointer;
}

/* Spinner */

.spinner
{
	vertical-align: middle;
	width: 19px;
	height: 19px;
	/*stroke: black;*/
	stroke-width: 2;
	fill: transparent;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1.2s;
	-webkit-animation-name: rotate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-transition-property: -moz-transform;
	-moz-animation-name: rotate;
	-moz-animation-duration: 1.2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	transition-property: transform;
	animation-name: rotate;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
