@font-face {
    font-family: 'ArchitectsDaughter';
        src: url('./fonts/ArchitectsDaughter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'CarlitoBold';
    src: url('./fonts/Carlito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'CarlitoBoldItalic';
    src: url('./fonts/Carlito-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'CarlitoItalic';
    src: url('./fonts/Carlito-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'CarlitoRegular';
    src: url('./fonts/Carlito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'Clayborn';
    src: url('./fonts/Clayborn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'CodeNewRoman';
    src: url('./fonts/CodeNewRoman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }
